@import url('./styles/vars.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-blue);
  font-family: 'TT Firs Neue Trl', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.phone-input-add {
  width: 100% !important;
  height: 32px;
}
.phone-input-add-error {
  width: 100% !important;
  border: 1px solid var(--red-error);
  height: 32px;
}
